body {
  background-color: #f0f0f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  min-height: 300px;
  width: 100%;
  background: #363333;
  padding: 20px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 10px;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.city {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555555;
  padding-bottom: 10px;
}

.city:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

h2 {
  margin: 0 0 5px;
  text-align: left;
}

.date {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 20px;
  text-align: left;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #777777;
}

a {
  color: darkviolet;
  text-decoration-style: solid;
}

a:hover {
  color: blue;
}
